<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div *ngIf="event">
        <h3 class="event-name">{{event.title}}</h3>
        <div *ngIf="event.description">
          <label>Description:</label>
          <span class="description"> {{event.description}}</span>
        </div>
        <div>
          <label>Location:</label>
          <span class="location"> {{event.city}}, {{event.state}}</span>
        </div>
        <div>
          <label>Start:</label>
          <span class="start"> {{event.displayStart}}</span>
        </div>
        <div>
          <label>End:</label>
          <span class="end"> {{event.displayEnd}}</span>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <app-member-list *ngIf="event"
                       [eventId]="eventId"
                       [creatorId]="event._creator"
                       [members]="event.members">
      </app-member-list>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <app-comment-create *ngIf="eventId"
                          [eventId]="eventId">
      </app-comment-create>
    </div>

    <div class="col-md-4">
      <app-recommendations-list
        *ngIf="event"
        [eventId]="eventId"
        [suggestLocations]="event.suggestLocations">
      </app-recommendations-list>
    </div>
  </div>
</div>