<h3>Comments</h3>

<div class="form-group comments-list">
  <div data-test="comment"
       class="well well-sm"
       *ngFor="let comment of comments">
    "{{comment.content}}" <small><em>- {{comment._creator.username}}</em></small>
  </div>
</div>
<p data-test="no-comments"
   class="alert alert-info"
   *ngIf="noComments">{{noComments}}</p>

<div class="form-group">
  <textarea class="form-control" [(ngModel)]="userComment"></textarea>
</div>
<div class="form-group">
  <button class="btn btn-primary"
          type="submit"
          (click)="addComment(userComment)">Add comment</button>
</div>

<p data-test="submit-error"
   class="alert alert-danger"
   *ngIf="submitError">{{submitError}}</p>
